## Question 1: Data Types and Input Handling  

- Take student **name**, **roll number**, **age**, and **marks** as input.  
- Display each value with its data type.  
- Convert **age to float** and **marks to int** before displaying.

In [2]:


name = input("Enter student name: ")
roll = input("Enter roll number: ")
age = float(input("Enter age: "))
marks = int(input("Enter marks: "))

print("Name:", name, "| Type:", type(name))
print("Roll Number:", roll, "| Type:", type(roll))
print("Age:", age, "| Type:", type(age))
print("Marks:", marks, "| Type:", type(marks))

Enter student name:  Aastha
Enter roll number:  2
Enter age:  19
Enter marks:  89

Name: Aastha | Type: <class 'str'>
Roll Number: 2 | Type: <class 'str'>
Age: 19.0 | Type: <class 'float'>
Marks: 89 | Type: <class 'int'>

### Question 2: Conditional Logic  

Accept marks (0–100) and display:  
- **Excellent** (≥ 80)  
- **Good** (≥ 60)  
- **Pass** (≥ 40)  
- **Fail** (< 40)

In [3]:


marks = int(input("Enter marks (0-100): "))

if marks >= 80:
    print("Excellent")
elif marks >= 60:
    print("Good")
elif marks >= 40:
    print("Pass")
else:
    print("Fail")

Enter marks (0-100):  87

Excellent

## Question 3: Looping with Conditions  

Print numbers between **1 and 100** that are:  
- Divisible by **4**  
- **Not** divisible by **8**

In [4]:


for i in range(1, 101):
    if i % 4 == 0 and i % 8 != 0:
        print(i)

4
12
20
28
36
44
52
60
68
76
84
92
100

## Question 4: List Operations

Given the list:

```python
marks = [55, 72, 48, 90, 67, 72, 90]

In [5]:



marks = [55, 72, 48, 90, 67, 72, 90]

maximum = max(marks)
minimum = min(marks)
count_72 = marks.count(72)

marks_ge_60 = [m for m in marks if m >= 60]

print("Maximum:", maximum)
print("Minimum:", minimum)
print("Count of 72:", count_72)
print("Marks >= 60:", marks_ge_60)

Maximum: 90
Minimum: 48
Count of 72: 2
Marks >= 60: [72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability

Create a tuple of 5 subjects and attempt to modify one element.  
Explain the result using comments.

In [6]:

# making a tuple with 5 subjects
subjects = ("Physics", "Chemistry", "Biology", "Math", "Computer")
print("Original tuple:", subjects)

# trying to change one value
# but tuples can't be changed once they are created (they are immutable)
# so this line will give an error
subjects[1] = "English"   # TypeError

# trying to add a new subject
# tuples don't support append or any update functions
# this will also give an error
subjects.append("History")   # AttributeError

Original tuple: ('Physics', 'Chemistry', 'Biology', 'Math', 'Computer')

TypeError: 'tuple' object does not support item assignment

## Question 6: List Sanitization and Metrics

Given:

marks = [45, -3, 88, "NA", 102, None, 67]

Write a function that:

- Removes invalid entries
- Returns:
  - Cleaned list
  - Number of invalid entries
  - Percentage of valid marks

Return values using a tuple.

In [8]:
# Function to clean the marks list and return required values

def clean_marks(marks):
    cleaned = []    # to store only valid marks
    invalid = 0     # counter for invalid items

    for m in marks:
        # valid marks must be integers/floats and between 0 and 100
        if type(m) in [int, float] and 0 <= m <= 100:
            cleaned.append(m)
        else:
            invalid += 1   # count anything that doesn't fit

    # percentage of valid marks
    total = len(marks)
    valid_percent = (len(cleaned) / total) * 100

    # return everything as a tuple
    return cleaned, invalid, valid_percent


# given list
marks = [45, -3, 88, "NA", 102, None, 67]

# calling the function
result = clean_marks(marks)
print(result)

([45, 88, 67], 4, 42.857142857142854)

## Question 7: Dictionary Usage

Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [11]:
# creating an empty dictionary to store roll numbers and names
students = {}

# function to add a new student
def add_student(roll, name):
    students[roll] = name

# function to update an existing student's name
def update_student(roll, new_name):
    students[roll] = new_name

# function to display all students
def display_students():
    for r, n in students.items():
        print(r, ":", n)

# sample operations
add_student(101, "Aayusha")
add_student(102, "Sita")
update_student(101, "Anshu Regmi")
display_students()

101 : Anshu Regmi
102 : Sita

## Question 8: Prime Number Function

Write `is_prime(n)` and display prime numbers between 1 and 50.

In [12]:
# function to check if a number is prime
def is_prime(n):
    if n < 2:       # 0 and 1 are not prime
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# printing prime numbers between 1 and 50
for num in range(1, 51):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

## Question 9: Function Composition

Write functions to:

- Calculate total marks  
- Calculate average  
- Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:

(name, total, average, result)

Explain why modular design is beneficial.

In [14]:
# function to calculate total
def calc_total(marks):
    return sum(marks)

# function to calculate average
def calc_average(marks):
    return sum(marks) / len(marks)

# function to classify based on average
def classify(avg):
    if avg >= 75:
        return "Distinction"
    elif avg >= 40:
        return "Pass"
    else:
        return "Fail"

# function that combines all work
def student_result(name, marks):
    total = calc_total(marks)
    avg = calc_average(marks)
    result = classify(avg)
    return (name, total, avg, result)

# sample
info = student_result("Anshu", [78, 65, 80])
print(info)

# modular design makes the code easier to understand,
# easier to fix, and easier to reuse because each small function
# does one clear task instead of mixing everything together.

('Anshu', 223, 74.33333333333333, 'Pass')

## Question 10: Defensive Input Parsing

Write a function that accepts a raw input string in the format:

"Ram|101|22|78, 88, 91"

Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:

- Extract name, roll number, age, and marks  
- Convert them into appropriate data types  
- Validate age (≥16) and marks (0–100)  
- Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [17]:
def parse_student_data(raw_text):
    # final dictionary to return
    info = {}

    try:
        # split the main parts using '|'
        pieces = raw_text.split("|")
        if len(pieces) != 4:
            return info   # wrong structure

        # get basic fields
        name = pieces[0].strip()
        roll = int(pieces[1].strip())
        age = int(pieces[2].strip())

        # age must be 16 or above
        if age < 16:
            return info

        # process marks from last part
        raw_marks = pieces[3].split(",")
        cleaned_marks = []

        for item in raw_marks:
            try:
                mark = int(item.strip())
                # only accept marks inside valid range
                if 0 <= mark <= 100:
                    cleaned_marks.append(mark)
            except:
                # skip anything that is not a number
                pass

        # must have at least one valid mark
        if len(cleaned_marks) == 0:
            return info

        # store using roll number as key
        info[roll] = {
            "name": name,
            "age": age,
            "marks": cleaned_marks
        }

    except:
        # covers any unexpected error so code never crashes
        return info

    return info

sample = "Ram|101|22|78, 88, 91"
print(parse_student_data(sample))

{101: {'name': 'Ram', 'age': 22, 'marks': [78, 88, 91]}}

# Question 11: Type Stability and Conversion

Given the list:

data = [10, "20", 30.5, "abc", None, True]

Write a function that:
- Separates numeric and non-numeric values
- Converts numeric values to float
- Returns both lists

Explain in comments why True behaves as a numeric value.

In [ ]:
# Function to separate numeric and non-numeric values

def split_numeric(data):
    numeric = []
    non_numeric = []

    for item in data:
        # check if value can be treated as a number
        try:
            # float(True) works because True = 1 internally in Python
            num = float(item)
            numeric.append(num)
        except:
            non_numeric.append(item)

    return numeric, non_numeric


# Given data
data = [10, "20", 30.5, "abc", None, True]

nums, non_nums = split_numeric(data)

print("Numeric values (as floats):", nums)
print("Non-numeric values:", non_nums)

# Why True becomes numeric:
# In Python, booleans are actually a subclass of integers.
# True behaves like 1 and False behaves like 0.
# That's why float(True) gives 1.0 instead of causing an error.

# Question 12: Pattern-Based Looping

Generate the sequence:

2, 6, 12, 20, 30, 42, 56

Rules:
- Do not hardcode the list
- Use loops and conditionals only
- Explain the pattern in comments

In [19]:
# The pattern increases like:
# +4, +6, +8, +10, +12, +14 ...
# So every time the difference grows by 2.

sequence = []
num = 2       # first number
diff = 4      # starting difference

# generate 7 numbers total
for i in range(7):
    sequence.append(num)
    num += diff   # increase by growing difference
    diff += 2     # difference goes up by 2 each step

print(sequence)

[2, 6, 12, 20, 30, 42, 56]

# Question 13: Set-Based Enrollment Analysis

Given:

python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

Find:
- Students enrolled in exactly two subjects
- Students enrolled in only one subject
- Students enrolled in all subjects

In [20]:
# Given sets
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

# 1. Students in all three subjects
# (Common in python, sql and statistics)
all_subjects = python & sql & statistics

# 2. Students in exactly two subjects
# First find students who are common between each pair
python_sql = python & sql
python_stats = python & statistics
sql_stats = sql & statistics

# Now combine all students who appear in at least two subjects
# Then remove the ones who are in all three
exactly_two = (python_sql | python_stats | sql_stats) - all_subjects

# 3. Students in only one subject
# Take all students from all sets
all_students = python | sql | statistics

# Remove those who are in two or three subjects
only_one = all_students - (exactly_two | all_subjects)

# Output
print("Students enrolled in exactly two subjects:", exactly_two)
print("Students enrolled in only one subject:", only_one)
print("Students enrolled in all subjects:", all_subjects)

Students enrolled in exactly two subjects: {'Amit', 'Nita'}
Students enrolled in only one subject: {'Gita', 'Sita', 'Ram'}
Students enrolled in all subjects: {'Hari'}

# Question 14: Dictionary Aggregation Logic

Given:

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

Write a function that:

- Computes average per student  
- Identifies top and bottom performers  
- Returns results using a single dictionary

In [22]:
# Given dictionary of student records
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

def analyze_records(data):
    result = {}

    #compute average of each student
    averages = {}
    for name, marks in data.items():
        avg = sum(marks) / len(marks)
        averages[name] = avg

    #  find top and bottom performer
    # (highest average -> top, lowest average -> bottom)
    top_student = max(averages, key=averages.get)
    bottom_student = min(averages, key=averages.get)

    #  store everything in a single dictionary
    result["averages"] = averages
    result["top"] = (top_student, averages[top_student])
    result["bottom"] = (bottom_student, averages[bottom_student])

    return result


output = analyze_records(records)
print(output)

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'top': ('Sita', 84.0), 'bottom': ('Hari', 52.333333333333336)}

# Question 15: Nested Data Structure Analysis

Given a nested dictionary representing a school's grade book:

school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

Write a function that:

- Calculates the average marks for each student
- Finds the top performer in each class
- Calculates the overall school average
- Returns a dictionary with:
    - class_toppers: {class_name: (student_name, average)}
    - school_average: float
    - student_averages: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [23]:
# given grade book data
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

def analyze_school(data):
    class_toppers = {}
    student_averages = {}

    total_marks = 0
    total_entries = 0

    # going through each class in the dictionary
    for class_name, students in data.items():

        top_name = None
        top_avg = 0

        # checking every student in the class
        for name, marks in students.items():
            avg = sum(marks) / len(marks)
            student_averages[name] = avg

            # adding to calculate overall school average
            total_marks += sum(marks)
            total_entries += len(marks)

            # checking who is the topper of the class
            if avg > top_avg:
                top_avg = avg
                top_name = name

        class_toppers[class_name] = (top_name, top_avg)

    school_average = total_marks / total_entries

    # nested dictionaries are useful because data is layered
    # like Class -> Student -> Marks, so it's easier to organize and access.
    
    return {
        "class_toppers": class_toppers,
        "school_average": school_average,
        "student_averages": student_averages
    }

# running the function
output = analyze_school(school_data)
print(output)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}